.bread-crumbs {
  display: flex;
  overflow: hidden;

  &__item {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 0 20px 0 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      font-weight: bold;

      &::before {
        content: '';
      }
    }

    &::before {
      content: '>';
      position: absolute;
      top: 0;
      right: 0;
      color: white;
    }
  }
}

@media (max-width: 550px) {
  .bread-crumbs {
    font-size: 12px;
  }
  .bread-crumbs__item {
    padding: 0 10px 0 5px;
  }
}
