.header {
  background: #000;
  border-bottom: 1px solid #48494a;
}

.header__content-wrapper {
  flex-grow: 1;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 16px 25px 16px;
}

.header__logo {
  padding: 5px;
  border-right: 1px solid #48494a;
  cursor: pointer;
  padding-right: 18px;
  width: 70px;
  height: 70px;

  & > img {
    display: block;
    width: 100%;
    border-radius: 20px;
  }
}

.header__title {
  font-family: 'Yeseva One', cursive;
  width: 210px;
  color: white;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.header__btn {
  padding-top: 5px;
}

.mobile-header {
  padding: 15px 16px;
  display: none;
}

@media (max-width: 850px) {
  .header__logo {
    width: 60px;
    height: 60px;
    padding: 0;
    padding-right: 14px;
  }

  .header__title {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (max-width: 650px) {
  .header__wrapper {
    display: none;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .mobile-header {
    padding: 15px 8px;
  }
}

@media (max-width: 480px) {
  .mobile-header__btn {
    display: none;
  }
}
