.page404 {
  background: white;
  padding: 52px 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
.page404__title {
  text-align: center;
  line-height: 32px;
}
